Source: gameandwatch
Section: games
Priority: extra
Maintainer: Rangel Reale <rreale@bol.com.br>
Build-Depends: debhelper (>= 5), autotools-dev, libsdl1.2-dev, libsdl-gfx1.2-dev, libsdl-image1.2-dev, libsdl-mixer1.2-dev, libsdl-ttf2.0-dev, libboost-filesystem-dev, libzzip-dev
Standards-Version: 3.7.2

Package: gameandwatch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This is a generic engine for simulation of Game & Watch-like games.
 Starting with ports of the Madrigal Game & Watch Simulators (http://www.madrigaldesign.it/sim/), with permission. 
 It is designed to run anywhere SDL is available, with emphasis in handheld machines.
 .
 As for the Madrigal simulators, the simulation is aimed to be as close as possible to the real machine, 
 simulating on-off, ACL mode, time modes, etc. Alarm and chrono modes only display default data, 
 as there is not enough motivation for its simulation.
 .
 To turn the device on, press ENTER.

